<div class="boxform">
    <p class="texttop">Register</p>
    <form>
        <div class="mb-3">
          <label for="user_name" class="form-label">User name</label>
          <input type="name" class="form-control" id="user-name" aria-describedby="userHelp">
        </div>
        <div class="mb-3">
          <label for="email-user" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-user" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="password-user" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-user">
        </div>
        <div class="mb-3">
          <label for="password2-user" class="form-label">Confirm your password</label>
          <input type="password2" class="form-control" id="password2-user">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="check-user">
          <label class="form-check-label" for="check-user">Check me out</label>
        </div>
        <div class="boxbutton">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>  
    </form>
  </div>
  <app-footer></app-footer>
