.texttop{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color:#64ffda;
}
.boxform{
    padding-top: 40px;
    height: 100vh;
}
form{
    width: 400px;
    margin: auto;
    height: 500px;
    border: 2px solid #64ffda;
    padding: 20px;
    background-color: #112240;
    border-radius: 10px;
}

.boxbutton{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    width: 80%;

}


