<div class="container">
    <div class="redes">
        <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-github-50.png" alt=""></a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-instagram-50.png" alt=""></a>
        <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-linkedin-rodeado-de-círculo-50.png" alt=""></a>     
    </div>
    <div class="line"></div>
</div>