<div class="nav_bar" >
    <nav class="navbar navbar-dark">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" 
        target="_blank" rel="noopener noreferrer" class="contLogo">

            <img src="../assets/img/ap_logo2.png" alt="LogoAP">
        </a>
  
        <div class="toggle">
            <img src="../assets/img/menu.png" alt="menu">
        </div>
        <!--<div class="section-list">-->
            <ul class="list-menu">
                <li>
                    <a href="https://github.com/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-github-50.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-instagram-50.png" alt=""></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/feed/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/icons8-linkedin-rodeado-de-círculo-50.png" alt=""></a>     
                </li>               
            </ul>
           
        <!--</div>-->
            <div class="signin">
                <a routerLink="login" routerLinkActive="active" class="textlogin">
                    <img src="../assets/img/icons8-accede-redondeado-derecho-32.png" alt="">
                </a>
            </div>
    </nav>
</div>
