<div class="containerPro">
    <div class="projects">
        <h3 class="textPro">Projects</h3>
        <hr>
    </div>
    <section>
      <div class="listPro" *ngFor="let projects of projectsList">
          <div class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h4 class="card-title">{{projects.title}}</h4>
                <p class="card-text">{{projects.description}}</p>
                <a [href]="projects.link" target="_blank" class="btn btn-primary">Go to project</a>
              </div>
            </div>
      </div>
    </section>
</div>
