<div class="containerPro">
    <div class="projects">
        <h3 class="textPro">Projects</h3>
        <hr>
    </div>
    <div class="listPro">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mercado Liebre</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/aryelh/proyectoMercado" target="_blank" class="btn btn-primary">Go to project</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sunflower</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="https://github.com/juliaburun/Sunflower" target="_blank" class="btn btn-primary">Go to project</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portfolio</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go to project</a>
            </div>
          </div>
    </div>
</div>
