.navbar{
    background: rgb(10, 19, 101);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    height: 90px;
}

.navbar img{
    width: 100px;
    margin-right: 10px;
}

.list-menu a{
    color: #ccd6f6;
}

.list-menu a:hover{
    color: #64ffda;
}

.contLogo{
    flex: 1;
}

.list-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.list-menu li{
    padding: 15px 10px;
    font-weight: 600;
}

.toggle{
    font-size: 30px;
    display: none;
}

a,a:hover{
    text-decoration: none;
}

.textlogin img{
    height: 20px;
    width: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}


@media screen and (max-width: 600px){
    .navbar{
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .list-menu{
        margin-top: 15px;
        display: none;
    }

    .list-menu.active, .toggle{
        display: block;
    }

    .toggle{
        position: absolute;
        top: 15px;
        right: 20px;
    }
}