    <div class="containerEd">
    <div class="education">
        <h3 class="textEdu">Education</h3>
        <hr>
    </div>

    <div class="listEdu">
        <div class="listOne">
            <h4 class="two">{{miPortfolio.education[0].college}}</h4>
                <p class="two_date">{{miPortfolio.education[0].date}}</p>
                <p class="two_title">{{miPortfolio.education[0].title}}</p>
        </div>
        
        <div class="listTwo">
            <h4 class="two">{{miPortfolio.education[1].college}}</h4>
                <p class="two_date">{{miPortfolio.education[1].date}}</p>
                <p class="two_title">{{miPortfolio.education[1].title}}</p>
        </div>
    </div>

</div>
