<div class="containerEd">
    <div class="education">
        <h3 class="textEdu">Education</h3>
        <hr>
    </div>
    <div class="listEdu">
        <p class="two">Tecnologico Industrial B.C.</p>
            <p class="two_date">Graduado en 1993</p>
            <p class="two_company">Bachiller Tecnico en Mecanica Industrial</p>
    </div>
    
    <div class="listEdu">
        <p class="two">Tecnologico Industrial B.C.</p>
            <p class="two_date">Graduado en 1993</p>
            <p class="two_company">Bachiller Tecnico en Mecanica Industrial</p>
    </div>
</div>

<app-footer></app-footer>