.containerEd{ 
    height: 100vh;
    margin-left: 250px;
}

.textEdu{
    color: #64ffda;
}
.education{
    width: 400px;
    padding-top: 100px;
    margin-left: 500px;
}

.listEdu{
    margin-left: 550px;
    display: flex;
    flex-direction: column;
}

.two{
    color: #8892b0;
    font-weight: 600;
}

.listOne{
    margin-bottom: 30px;
}