<div class="containerSki">
<h3 class="textSkills">Hard & Soft Skills</h3>
<hr>
    <section class="column column--right" >
        <div *ngFor="let skills of skillsList">
            <article class="card">
                <h2 class="card__title">{{skills.title}}</h2>
                    <div class="skills">
                        <div class="skills__item">
                            <p class="skills__tech">{{skills.skill[0]}}</p>
                            <div class="skills__bar skills__bar--70"></div>
                        </div>
                        <div class="skills__item">
                            <p class="skills__tech">{{skills.skill[1]}}</p>
                            <div class="skills__bar skills__bar--50"></div>
                        </div>
                        <div class="skills__item">
                            <p class="skills__tech">{{skills.skill[2]}}</p>
                            <div class="skills__bar skills__bar--40"></div>
                        </div>
                        <div class="skills__item">
                            <p class="skills__tech">{{skills.skill[3]}}</p>
                            <div class="skills__bar skills__bar--40"></div>
                        </div>
                        <div class="skills__item">
                            <p class="skills__tech">{{skills.skill[4]}}</p>
                            <div class="skills__bar skills__bar--40"></div>
                        </div>
                    </div>
            </article>
        </div>
    </section>
</div>