/* You can add global styles to this file, and also import other style files */
:root{
    --turquoise: #64ffda;
    --blue00:#0a192f;
    --grey_soft: #ccd6f6;
    --grey_medium: #8892b0;
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    font-family: Calibri;
    color: white;
    background-color: #0a192f;
}


