<div class="containerEx">
    <div class="experience">
        <h3 class="textExpe">Experience</h3>
        <hr>
    </div>
    <section>
        <div class="listExpe" *ngFor="let experience of experienceList">
            <div class="card-one">
                <h4 class="one">{{experience.title}}</h4>
                    <p class="one_date">{{experience.date}}</p>
                    <p class="one_company">{{experience.company}}</p>
                    <p class="one_works">{{experience.work}}</p>
            </div>
        </div>
    </section>
</div>
