.containerEx{
    height: 100vh;
    padding-top: 30px;
    padding-left: 150px;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.textExpe{
    position: relative;
    padding-top: 100px;
    margin-left: 50px;
    color: #64ffda;
}

hr{
    margin-left: 190px;
    margin-bottom: 30px;
    height: 3px;
    width: 150px; 
}

section{
    margin-top: 200px;
    border-left: solid 1px #B0B3AF;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.listExpe p{
    margin-left: 40px;
}

.listExpe h4{
    color: #8892b0;
    font-weight: 600;
    margin-left: 20px;
}

.card-one{
    margin-bottom: 30px;
}