<div class="containerEx">
    <div class="experience">
        <h3 class="textExpe">Experience</h3>
        <hr>
    </div>
    <div class="listExpe">
        <div class="card-one">
            <h4 class="one">{{miPortfolio.experience[0].title}}</h4>
                <p class="one_date">{{miPortfolio.experience[0].date}}</p>
                <p class="one_company">{{miPortfolio.experience[0].company}}</p>
                <p class="one_works">{{miPortfolio.experience[0].work}}</p>
        </div>

        <div card-two>
            <h4 class="one">{{miPortfolio.experience[1].title}}</h4>
                <p class="one_date">{{miPortfolio.experience[1].date}}</p>
                <p class="one_company">{{miPortfolio.experience[1].company}}</p>
                <p class="one_works">{{miPortfolio.experience[1].work}}</p>
        </div>
    </div>
</div>
